@if (gameService.isLoaded()) {
  <app-top-bar></app-top-bar>
  <div class="game-container">
    <app-left-sidebar class="sidebar left"></app-left-sidebar>
    <app-garden-grid class="central-grid"></app-garden-grid>
    <app-right-sidebar class="sidebar right"></app-right-sidebar>
  </div>
  <app-bottom-bar></app-bottom-bar>
  @for (i of [1,2,3,4,5,6,7,8,9,10]; track $index) {
    <div class="particle" [style.left.%]="Math.random() * 100" [style.top.%]="Math.random() * 100" [style.animation-delay.s]="Math.random() * 5"></div>
  }
  @for (i of [1,2,3,4,5]; track $index) {
    <div class="bee-particle" [style.left.%]="Math.random() * 100" [style.top.%]="Math.random() * 100" [style.animation-delay.s]="Math.random() * 3"></div>
  }
} @else {
  Loading your garden...
}
