@if (gameService.isLoaded()) {
  <app-background-overlay></app-background-overlay>
  <app-top-bar></app-top-bar>
  <div class="game-container">
    <div class="game-inner">
      <app-left-sidebar class="sidebar left"></app-left-sidebar>
      <app-garden-grid class="central-grid"></app-garden-grid>
      <app-right-sidebar class="sidebar right"></app-right-sidebar>
    </div>
  </div>
  <app-bottom-bar></app-bottom-bar>
  @for (particle of particles(); track $index) {
    <div class="particle {{particle.type}}" [style.left.%]="particle.left" [style.top.%]="particle.top" [style.animation-delay.s]="particle.delay"></div>
  }
} @else {
  Loading your garden...
}
