@use '../garden-swarm-base' as base;

.left-sidebar {
  @include base.panel-style;

  .seed-item {
    margin-bottom: 0.5rem;
    color: base.$garden-text;
  }

  h2 {
    margin-top: 0.25rem;
    padding-top: 0.5rem;
    font-size: 1.4rem;
  }

}
